scheb_two_factor:
  security_tokens:
    - Symfony\Component\Security\Core\Authentication\Token\UsernamePasswordToken
    - Symfony\Component\Security\Http\Authenticator\Token\PostAuthenticationToken
    - Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface

  google:
    enabled: true
    #server_name: server_name      # Server name used in QR code
    issuer: issuer_placeholder     # Issuer name used in QR code
    digits: 6                      # Number of digits in authentication code
    leeway: 1                      # Depends on the version of Spomky-Labs/otphp used:
                                   # Until v10: How many codes before/after the current one would be accepted
                                   # From v11: Acceptable time drift in seconds
    template: auth/two_factor/two_factor_form.html.twig   # Template used to render the authentication form
    form_renderer: App\Controller\Auth\TwoFactor\EnterAuthCodeController
