<div class="row">
    <div class="col-sm-12 mb-3">
        <h3>Menu</h3>
    </div>
</div>

<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active">
        <i class="fas fa-home"></i> {{ 'menu.my_properties'|trans }} ({{ properties.getTotalItemCount }})
    </a>
    <a href="{{ path('security_logout') }}" class="list-group-item list-group-item-action">
        <i class="fas fa-sign-out-alt"></i> {{ 'menu.logout'|trans }}
    </a>
</div>
