
// Body
$body-bg: #f5f5fa;

// Code
$code-color: #212529 !default;
$code-font-size: 12px !default;

// Lead
$lead-font-size: 2.5rem !default;

// Jumbotron
$jumbotron-bg: transparent !default;

// Fonts
$fa-font-path: "../fonts";
