<form action="{{ url('user_photo_delete', {id: photo.id }) }}" method="post"
      data-confirmation="true">

    <input type="hidden" name="token" value="{{ csrf_token('delete') }}"/>

    <button class="btn btn-danger btn-sm remove"
            onclick="if(confirm('{{ 'confirmation.delete_photo' | trans }}')){ return true }else{ return false }">
         {{ 'action.delete' | trans }}
    </button>

</form>
