<button type="submit"
        data-type="delete"
        class="btn btn-sm btn-danger"
        data-message="{{ 'confirmation.delete_item' | trans }}"
        data-confirmation-text="{{ 'action.delete' | trans }}"
        data-cancellation-text="{{ 'action.cancel' | trans }}">
    {{ 'action.delete' | trans }}
</button>
